<!DOCTYPE html>
<head>
  <title>Claptrap 2</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='favicon-32x32.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <h3>Claptrap 2</h3>
  {% if setup and punchline and logic %}
  <div class="setup">{{ setup }}</div>
  <div class="punchline">{{ punchline }}</div>
  <form action="/" method="post">
    <input type="submit" value="Generate another" />
  </form>
  <div class="logic">{{ logic }}</div>
  {% elif error %}
  <form action="/" method="post">
    <input type="submit" value="Try again" />
    <div class="setup">{{ error }}</div>
  </form>
  {% else %}
  <form action="/" method="post">
    <input type="submit" value="Generate a joke" />
  </form>
  {% endif %}  
</body>
