<!DOCTYPE html>
<head>
  <title>Claptrap 2</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='favicon-32x32.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <h3>Claptrap 2</h3>
  {% if setup and punchline %}
  <div class="setup">{{ setup }}</div>
  <div class="punchline">{{ punchline }}</div>
  <form action="/jokes" method="get">
    <input type="submit" value="Generate another" />
  </form>
  <div class="origin">{{ origin }}</div>
  <div class="component">{{ component }}</div>
  <div class="replacement">{{ replacement }}</div>
  {% elif error %}
  <div class="error">{{ error }}</div>
  <form action="/jokes" method="get">    
    <input type="submit" value="Try again" />    
  </form>
  {% else %}
  <form action="/jokes" method="get">
    <input type="submit" value="Generate a joke" />
  </form>
  {% endif %}
  <h2>OR</h2>
  <form action="/jokes" method="post">
    <input type="submit" value="Joke about ... " />
    <input type="text" name="topic" placeholder="joke topic" required />
  </form>  
</body>
